@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT|Roboto&display=swap');

.the, .the div, .the img {
 box-sizing: unset;
}

.the {
  width: 350px;
  background: white;
  padding: 20px 0;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
 margin: auto;
 position: relative;
 font-family: 'Roboto';
 font-size: 12px;
 line-height: 1.3;
}

.the .good {
 width: 250px;
 background: #E0E0E0;
 color: black;
 padding: 0 30px 15px 30px;
 font-size: 10px;
 text-transform: uppercase;
 font-family: 'Old Standard TT', serif;
 letter-spacing: 3px;
 line-height: 10px;
 font-weight: bold;
 margin: auto;
 text-align: center;
}

.the .good img {
 width: 80px;
 border-radius: 100%;
 padding: 7px;
 border: 1px solid white;
 margin-bottom: 15px;
 margin-top: 15px;
}

.the .side {
 width: 268px;
 text-align: justify;
 padding: 20px;
 border: 1px solid #E0E0E0;
 margin: auto;
}

.the .animal {
 width: 300px;
 padding: 5px;
 font-size: 8px;
 text-align: center;
 margin: auto;
}
